<!DOCTYPE html>
<html lang="pl">
<head>
    <title> About Page </title>
    <meta charset = utf-8" />

    <link href="/css/style_about.css" rel="stylesheet" type="text/css" />
    <!--UWAGA
       Lokalizację (URL) pliku .CSS podano przy użyciu ścieżki względnej w odniesieniu do katalogu /public,
       zdefiniowanego w aplikacji jako katalog publiczny, z którego są serwowane pliki statyczne.
    -->
</head>
<body>
    <h1> About Page </h1>

    <img src="/images/jelcz_about.jpg" alt="Jelcz" width="200"> <br />
    <!--UWAGA
       URL pliku .JPG podano przy użyciu ścieżki względnej w odniesieniu do katalogu /public,
       zdefiniowanego w aplikacji jako katalog publiczny, z którego są serwowane pliki statyczne.
    -->
    <small>
        Jelcz 317D. Źródło: Zdzisław Podbielski. <i> Samochody ciężarowe, specjalne i autobusy. </i>
        Instytut Wydawniczy "NASZA KSIĄGARNIA", Warszawa 1988.
    </small> <br />

    <a type="button" href="/"> Home </a> <br />
    <a type="button" href="/help"> Help </a>
</body>
</html>