<!--PLIK ZAWARTOŚCI DYNAMICZNEJ BLOKU MAIN-->
<h3> Ciężkie wywrotki 3-osiowe: </h3>
<ul>
    <li>Jelcz W640</li>
    <li>Steyr 1490</li>
    <li>Tatra 148</li>
    <li>Berliet GBH-12</li>
</ul>
<img src="./images/jelcz.jpg" alt="Jelcz W640" /> <br />
<!--UWAGA
    Położenie pliku JPG zostało określone względem katalogu /public, który został zdefiniowany w aplikacji,
    jako folder zawierający zasoby publiczne.
-->
<small>
    <span class="image_title">Jelcz W640 JS</span>
    (źródło: Zdzisław Podbielski. Samochody ciężarowe, specjalne i autobusy.
    Instytut Wydawniczy "NASZA KSIĘGARNIA", Warszawa 1988)
</small> <br />
