<!DOCTYPE html>
<html lang="pl">
<head>
    <title> Web Page </title>
    <meta charset="UTF-8">

    <link href="./css/style.css" rel="stylesheet" type="text/css" />
    <!--UWAGA
        Ścieżka do pliku STYLE.CSS została określona względem roota dla plików statycznych w aplikacji,
        czyli względem katalogu /public.
    -->
</head>
<body>
    <h1> Polska ciężarówka JELCZ W640-825 w latach 70-tych XX wieku </h1>

    <img src="./images/jelcz.jpg" alt="Jelcz" width="640"> <br />
    <!--UWAGA
        Ścieżka do pliku .JPG została określona względem roota dla plików statycznych w aplikacji,
        czyli względem katalogu public.
    -->
    <small>
        Źródło: Zdzisław Podbielski. <i> Samochody ciężarowe, specjalne i autobusy. </i>
        Instytut Wydawniczy "NASZA KSIĄGARNIA", Warszawa 1988.
    </small>
</body>
</html>
