<!DOCTYPE html>
<html>
<head>
    <title>Registration/Login System</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1> Witaj <%= (name).toUpperCase() %> </h1>

    <img src="jelcz.jpg"> <br />
    <small> Jelcz 420 (źródło: Internet) </small>


    <h4> <a href="../logout">Wyloguj się</a> </h4>
</body>
</html>
