<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Registration/Login System</title>
    <meta charset="utf-8">
</head>
<body>
    <h3> Formularz logowania </h3>

    <form action="/login" method="post" name="form">
            Nazwa użytkownika:
            <input type="text" name="name" placeholder="Nazwa użytkownika" value=""> <br />
            Hasło:
            <input type="password" name="password" placeholder="Hasło" value=""> <br />

        <input type="submit" value="Logowanie">
    </form>
</body>
</html>
