<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Registration/Login System</title>
    <meta charset="utf-8">
</head>
<body>
    <h3> Formularz rejestracyjny </h3>

    <form action="/register" method="post" name="form">
        Imię:
        <input type="text" name="name" placeholder="nazwa użytkownika" value=""> <br />
        Hasło:
        <input type="password" name="password" placeholder="hasło" value=""> <br />
        Email:
        <input type="email" name="email" placeholder="email" value=""> <br />

        <input type="submit" value="Rejestracja użytkownika">
    </form>
</body>
</html>
