* {
    box-sizing: border-box;
    font-family: Tahoma;
    font-size: 16px;
}

.login {
    width: 300px;
    border: 0;
    margin: 50px auto;
}

.login form {
    padding: 10px;
    border: 1px solid black;
    background-color: lightgray;
}

.login form input[type="password"], .login form input[type="text"] {
    height: 30px;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 10px;
}
.login form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: gray;
    border: 0;
    font-weight: bold;
    color: black;
}

.login form input[type="submit"] {
    background-color: gray;
}

.login form input[type="submit"]:hover {
    background-color: red;
}
