.EdycjaLekcji{
    border: 1px solid black;
    border-radius: 10px;
    background-image: linear-gradient(#4d4d4d,#888888);
    max-width: 500px;
    margin: 0 auto;
}
button{
    border-radius: 10px;
}
body{
    background-color: dimgrey;
}