<!DOCTYPE html>
<html lang="pl">
<head>
    <title> About Page </title>
    <meta charset = utf-8" />

    <link href="./css/style.css" rel="stylesheet" type="text/css" />
    <!--UWAGA
       URL pliku .CSSpodano przy użyciu ścieżki względnej w odniesieniu do katalogu /files/about,
       zdefiniowanego jako katalog publiczny, z którego są serwowane pliki statyczne.
    -->
</head>
<body>
    <h1> About Page </h1>

    <img src="./images/jelcz.jpg" alt="Jelcz"> <br />
    <!--UWAGA
       URL pliku .JPG podano przy użyciu ścieżki względnej w odniesieniu do katalogu /files/about,
       zdefiniowanego jako katalog publiczny, z którego są serwowane pliki statyczne.
    -->
    <small>
        <b>Jelcz 317D.</b> Źródło: Zdzisław Podbielski. <i> Samochody ciężarowe, specjalne i autobusy. </i>
        Instytut Wydawniczy "NASZA KSIĄGARNIA", Warszawa 1988.
    </small> <br />

    <a type="button" href="/app/home"> Home </a> <br />
    <a type="button" href="/app/help"> Help </a> <br />
</body>
</html>