body{
    height: 100%;

}
#header{
    height: 10%;
    margin: 0%;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    position: absolute;
    border: 1px solid black;
    display: flex;

}
#footer{
    height: 10%;
    margin: 0%;
    left: 0%;
    right: 0%;
    border: 1px solid black;
    bottom: 0%;
    position: absolute;
    display: flex;
}
#main{
display: flex;
height: 80%;
width: 100%;
position: absolute;
margin-left: -10px;
margin-top: 89px;
}
#left{
    width: 15%;

    margin: 0%;
    
    left: 0%;
    right: 0%;
    border: 1px solid black;
    
}
#middle{
    width: 70%;
    margin: 0%;
    left: 0%;
    right: 0%;
    border: 1px solid black;
    text-align: center;

}
#right{
    width: 15%;

    margin: 0%;
    left: 0%;
    right: 0%;
    border: 1px solid black;
    display: flex;
}
img{
    width: 200px;
    height: 200px;
    margin: 10px;
}
table{
    border: 1px solid black;

}
td{
    border: 1px solid black;
    
}
.t{
    height: 25px;
}
.r{
    background-color: rgb(202, 77, 31);
    height: 50px;
    color: white;
}
.s{
    background-color: rgb(230, 230, 230);
}
#p{
    margin-left: 900px;
}
#tab{
    margin-left: 400px;
}