<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Desktop</title>
    <meta charset="utf-8">
</head>
<body>
    <h2> Witamy na naszej stronie :) </h2>

    <!-- Wstrzyknięcie na stronę kodu JS: -->
    <p>Jesteś zalogowany jako <%=username%> ...</p>

    <h4> <a href="/logout">Wyloguj się</a> </h4>
</body>
</html>
