<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Desktop</title>
    <meta charset="utf-8">
</head>
<body>
    <h2> Witamy na naszej stronie :) </h2>

    <h4> <a href="/register">Rejestracja nowego użytkownika</a> </h4>
    <h4> <a href="/login">Logowanie</a> </h4>
</body>
</html>
