<!DOCTYPE html>
<html lang="pl">
<head>
    <title> Web Page </title>
    <meta charset = "utf-8" />

    <!--Wykorzystanie zewnętrznego pliku ze stylami CSS: -->
    <link href="style.css" rel="stylesheet" type="text/css" />
    <!--UWAGA
        Ścieżka do pliku .CSS została określona jako względna w odniesieniu do roota
        dla plików statycznych w aplikacji node, czyli względem katalogu static/css.
    -->
</head>
<body>
    <h1> Polska ciężarówka JELCZ W640-825 w latach 70-tych XX wieku </h1>

    <!--Wykorzystanie obrazka (JPG): -->
    <img src="jelcz.jpg" alt="Jelcz"> <br />
    <!--UWAGA
         Ścieżka do pliku .JPG została określona jako względna w odniesieniu do roota
         dla plików statycznych w aplikacji node, czyli względem katalogu static/images.
     -->
    <small>
        Źródło: Zdzisław Podbielski. <i> Samochody ciężarowe, specjalne i autobusy. </i>
        Instytut Wydawniczy "NASZA KSIĄGARNIA", Warszawa 1988.
    </small> <br />
</body>
</html>
